<ion-header color="secondary">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <h1>Login</h1>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-row style="margin-top: 40%;">
    <ion-col size="12"  class="ion-text-center">
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input [(ngModel)]="correo" placeholder="Ingrese su correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password" placeholder="Ingrese su contraseña"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="iniciarSesion()">
        Iniciar Sesion
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>