
.row-vertical-centered{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.bordered{
    border-radius: 33px !important;
    border-style: solid;
    border-color: transparent;
}
.backColor{
    background-color: rgb(210, 210, 210);
}