<ion-header color="secondary">
  <ion-row class="row-vertical-centered">
      <ion-col size="1">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="2">
        <ion-text>AliExpress</ion-text>
      </ion-col>

      <ion-col size="6">
        <ion-searchbar placeholder="Busca tu producto"></ion-searchbar>
      </ion-col>
  </ion-row>
</ion-header>
<ion-content >
  <ion-row class="backColor">
    <ion-col size="6" *ngFor="let producto of productos; let i = index;" >
      <ion-card style="border: solid transparent 3px;"
      [ngStyle]="i%2?{'margin-top': '0px'} : {'margin-top': '40px'}">
      <ion-row 
      >
          <ion-img src="https://basecuador.vtexassets.com/arquivos/ids/{{producto.image}}" class="bordered"></ion-img>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center"><ion-label>{{producto.description}}</ion-label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left"><ion-label style="font-size: large;"><b>US ${{producto.price}}</b></ion-label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left">
          <ion-label style="font-size: large;">
            <ion-icon color="primary" name="star-half-outline"></ion-icon>
             4.7 | 66 SOLD
          </ion-label></ion-col>
      </ion-row>
    </ion-card>

    </ion-col>
  </ion-row>
</ion-content>